table {
    border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
}

td.digit {
    min-width: 25px;
    font-weight: bold;
    font-size: larger;
    background-color: #dddddd;
}

td.corner {
    border: 0px solid #ffffff;
}

div.team1 {
    font-size: xx-large;
    text-align: center;
}

div.team2 {
    font-size: xx-large;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

div.sbtable {
    display: inline-block;
}